version: 2
updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
      day: monday
      time: 05:00
      timezone: Asia/Tokyo
    groups:
      dev-dependencies:
        patterns:
          - "*"

  - package-ecosystem: gomod
    directory: /
    schedule:
      interval: weekly
      day: monday
      time: 05:00
      timezone: Asia/Tokyo
    groups:
      dependencies:
        patterns:
          - "*"

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
      day: monday
      time: 05:00
      timezone: Asia/Tokyo
