name: Publish

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version-file: package.json
          cache: pnpm
      - run: pnpm install
      - run: pnpm run download-artifacts
        env:
          TARGET_COMMIT_SHA: ${{ github.event.release.target_commitish }}
          GH_TOKEN: ${{ github.token }}
      - run: pnpm run publish:vsce
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
      - run: pnpm run publish:ovsx
        env:
          OVSX_PAT: ${{ secrets.OVSX_PAT }}
